<p id="notice"><%= notice %></p>

<p>
  <strong><%= t("active_record.attributes.person.name") %>:</strong>
  <%= @person.name %>
</p>

<p>
  <strong><%= t("active_record.attributes.client.cuilt") %>:</strong>
  <%= @person.cuilt %>
</p>

<%= link_to t("edit"), edit_person_path(@person) %> |
<%= link_to t("back"), people_path %>
