<%= form_for([@client, @client.invoices.build]) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :client_id %><br>
    <%= f.select :client_id, [[@client, @client.id]] %>
  </div>
  <div class="field">
    <%= f.label :person_id %><br>
    <%= f.select :person_id, Person.find_each(batch_size: Person.count).map { |p| [p, p.id] }, { include_blank: t(:select_person) } %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :emission_date %><br>
    <%= f.date_select :emission_date, start_year: Time.now.year - 150, end_year: Time.now.year, default: Time.now %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
