<p id="notice"><%= notice %></p>

<p>
  <strong><%= t("active_record.attributes.invoice.client") %>:</strong>
  <%= @invoice.client %>
</p>

<p>
  <strong><%= t("active_record.attributes.invoice.person") %>:</strong>
  <%= @invoice.person %>
</p>

<p>
  <strong><%= t("active_record.attributes.invoice.description") %>:</strong>
  <%= @invoice.description %>
</p>

<p>
  <strong><%= t("active_record.attributes.invoice.amount") %>:</strong>
  <%= @invoice.amount %>
</p>

<p>
  <strong><%= t("active_record.attributes.invoice.emission_date") %>:</strong>
  <%= @invoice.emission_date %>
</p>

<%= link_to t("edit"), edit_client_invoice_path(@client, @invoice) %> |
<%= link_to t("back"), client_invoices_path(@client) %>
