<p id="notice"><%= notice %></p>

<p>
  <strong><%= t("active_record.attributes.contact.client") %>:</strong>
  <%= @contact.client %>
</p>

<p>
  <strong><%= t("active_record.attributes.contact.kind") %>:</strong>
  <%= @contact.kind %>
</p>

<p>
  <strong><%= t("active_record.attributes.contact.value") %>:</strong>
  <%= @contact.value %>
</p>

<%= link_to t("edit"), edit_client_contact_path(@client, @contact) %> |
<%= link_to t("back"), client_path(@client) %>
