<!DOCTYPE html>
<html>
<head>
  <title>Evader</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to t("home"), page_home_path %>
  <%= link_to t("active_record.models.clients"), clients_path %>
  <%= link_to t("active_record.models.people"), people_path %>
<%= yield %>

</body>
</html>
